<form id="user_form" accept-charset="utf-8">
  <div class="row small-12 columns">
    First Name: <b>{{ modalVm.modal_user.first_name }}</b>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row small-12 columns">
    <label>Email</label>
    <input type="text" value="" ng-model="modalVm.modal_user.email">
  </div>
  <div class="row small-12 columns">
    <label>Color</label>
    <select class="no-bottom" name="color" ng-model="modalVm.modal_user.color" ng-options="obj.value as obj.label for obj in modalVm.colors" required>
      <option value="">Choose a color...</option>
    </select>
  </div>
  <div class="row small-12 columns">
    <input type="checkbox" ng-model="modalVm.modal_user.is_cool" name="is_cool" id="is_cool" value="is_cool">
    <label for="is_cool">Check here if they are cool..</label>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row actions collapse">
    <div class="columns small-8 ">
      <input class="button tiny radius" type="button" value="Update" ng-click="modalVm.updateUser()">
      <a class="cancel button tiny radius" style="margin-left:10px" ng-click="modalVm.closeModal()">Cancel</a>
    </div>
    <div class="columns small-4 text-right">
      <a class="button tiny radius alert" rel="nofollow" ng-click="modalVm.deleteUser()"><i class="fi-trash ilink"></i> Delete</a>
    </div>
  </div>
</form>
