<h1>About</h1>
<br>
<div class="row">
  <div class="small-12 columns">
    This is the about page.. and now, some different lorem ipsum:
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="small-12 columns">
    Sed vel augue nec urna ultricies hendrerit. Proin eget consequat mi. In consectetur placerat ipsum at pharetra. Pellentesque lobortis sem auctor nulla tempor varius. Nullam ut nibh et lectus viverra aliquet. In nec velit arcu. Etiam dapibus nunc a efficitur rhoncus. Praesent gravida ullamcorper sapien nec consectetur. Aenean et mauris varius, faucibus magna id, scelerisque sapien. Nam lectus ipsum, pharetra a finibus in, ultricies eu erat. Etiam fermentum pellentesque nunc eu hendrerit. Mauris non augue elit. Vestibulum in cursus justo. Morbi condimentum auctor lorem.
  </div>
</div>