<h1>Contact</h1>
<br>
<div class="row">
  <div class="small-12 columns">
    This is the contact page, but depending on which option you choose controls what appears below!<br>
    All three versions of this page use the same controller and template. This is an example of route parameters.
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="small-12 columns">
    <div ng-show="vm.showLearn">Oh, you would like to learn about what we do here? That's great!</div>
    <div ng-show="vm.showComplain">You want to complain, do you? Well you can go suck an egg!</div>
  </div>
</div>