<h1>Eager</h1>
<br>
<div class="row">
  <div class="small-12 columns">
    This is the eager page, demonstrating the principle of Eager Routing. Whatever extra is passed into the URL after /eager will be stored in the $scope.extra variable. Go ahead and modify the URL yourself to see the value below change.
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="small-12 columns">
    $scope.extra = {{ extra }}
  </div>
</div>