<h1>Home</h1>
<br>
<div class="row">
  <div class="small-12 columns">
    This is the home page.. and now, some lorem ipsum:
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="small-12 columns">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt eros enim, sit amet sodales leo luctus vitae. Mauris risus quam, imperdiet id malesuada eget, eleifend vel libero. Quisque sodales risus ac elit ornare dictum. Phasellus et tristique quam. Donec pharetra odio eu pretium placerat. Donec rhoncus in augue ut dignissim. Fusce tristique ullamcorper imperdiet. Mauris at ex a sapien sodales lacinia. Nam id gravida dui, at convallis velit. Curabitur semper mauris vitae eleifend venenatis. Proin posuere, tellus eget facilisis aliquam, orci ante faucibus arcu, non ullamcorper diam enim eu ligula.
  </div>
</div>