.pages__forms {
  input[name='email'].ng-dirty.ng-invalid {
    color: red;
  }
  input[name='email'].ng-dirty.ng-valid {
    color: green;
  }

  .no-bottom {
    margin-bottom: 0px;
  }

  .load_error, .submit_error {
    color: red;
    font-style: italic;
  }

  .load_success, .submit_success {
    color: green;
    font-style: italic;
  }
}