<!-- Reference controller for this page --->
<%= javascript_include_tag asset_path('angular/controllers/pages/animate.controller.js') %>

<!-- Add Custom Exception Handler Decorator --->
<%= javascript_include_tag asset_path('angular/decorators/exception-handler.decorator.js') %>

<% content_for :title do %>AngularJS Playground - Animate<% end %>

<div ng-app="animateApp" ng-cloak>
  <div class="section-header">
    <div class="section-title">Animation</div>
    <div class="section-description">
      A sample of what can be done with Angular Animation. You don't interact directly with ngAnimate, instead you just
      define your styles like you would for CSS3 animation and use ngAnimate directives to control the addition and
      removal of those styles.
    </div>
  </div>
  <div class="row" ng-controller="AnimateController as vm">
    <div class="small-12 columns">
      <div class="example">
        <div class="example-header">
          <span class="example-title">Simple Fade-In-Out</span><br>
          <span class="example-description">This is about as simple as ngAnimate gets. Click the button to make the content fade in and out.</span>
        </div>
        <div class="example-body">
          <div class="row">
            <div class="small-12 medium-2 columns">
              <button class="button tiny radius" ng-click="vm.animate_on=!vm.animate_on">Toggle Content</button>
            </div>
            <div class="small-12 medium-6 columns end simple-fade-in-out" ng-if="vm.animate_on">
              Look at me fade in and out. Isn't that cool!
            </div>
          </div>
        </div>
      </div>
      <div class="example">
        <div class="example-header">
          <span class="example-title">Slide Animation</span><br>
          <span class="example-description">
            Slide content loaded from a template in and out when you change the selection in the dropdown.
          </span>
        </div>
        <div class="example-body">
          <div class="row">
            <div class="small-12 columns">
              <label for="selected_person">Person:</label>
              <select class="person-dropdown" id="selected_person" ng-model="vm.selected_person" ng-options="p.name for p in vm.people">
                <option value="">Please select a person..</option>
              </select>
              <div class="simple-slide-container">
                <div class="simple-slide" ng-include="vm.selected_person.url"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
