<% content_for :title do %>AngularJS Playground - Animate<% end %>

<div class="row left" ng-app="formsApp" ng-controller="MyFormsCtrl">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns"><h3>Animation</h3></div>
    </div>
    <div class="row">
      <div class="small-12 columns left">
        A sample of what can be done with Angular Animation.
      </div>
    </div>
  </div>
</div>
