<% content_for :title do %>AngularJS Playground<% end %>

<div class="row left" ng-app="directivesApp" ng-controller="MyDirectivesCtrl">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-12 columns"><h3>Bound Input</h3></div>
        </div>
        <div class="row">
          <div class="small-12 columns left">
            Simple bound input that repeats whatever you type inside it in the div below it.
          </div>
        </div>
        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="small-2 columns left">Enter Something: </div>
          <div class="small-2 columns left"><input ng-model="boundinput" type="text"></div>
        </div>
        <div class="row">
          <div class="small-2 columns left">You Entered: </div>
          <div class="small-2 columns left">{{ boundinput }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns"><hr></div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-12 columns"><h3>ngShow Directive</h3></div>
        </div>
        <div class="row">
          <div class="small-12 columns left">
            <i>Slightly more complex bound input that will evaluate whatever mathmatical expression is passed in. If it sums to 10 then a message will appear!</i>
          </div>
        </div>
        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="small-3 columns left">Enter Mathmatical Expression: </div>
          <div class="small-2 columns left"><input ng-model="mathexpression" type="text"></div>
        </div>
        <div class="row">
          <div ng-show="$eval(mathexpression) == 10" class="small-12 columns left">I appear when the expression is equal to 10!</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns"><hr></div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-12 columns"><h3>ngClick Directive</h3></div>
        </div>
        <div class="row">
          <div class="small-12 columns left">
            <i>Buttons that add and subtract one to or from the counter each time you click them. Simple as pie!</i>
          </div>
        </div>
        <div class="row">&nbsp;</div>

        <div class="row" ng-init="count = 0">
          <div class="small-2 columns left"><button ng-click="count = count + 1">Add 1</button></div>
          <div class="small-2 columns left"><big>Count = {{ count }}</big></div>
          <div class="small-2 columns left"><button ng-click="count = count - 1">Take 1</button></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns"><hr></div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-12 columns"><h3>ngRepeat Directive</h3></div>
        </div>
        <div class="row">
          <div class="small-12 columns left">
            <i>Defines the following array: ['Item 1', 'Item 2', 'Item 3'], and then repeats &lt;p&gt; tags displaying the contents.<br>
              Click the button below to add an item to the array.</i>
          </div>
        </div>
        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="small-12 columns left">
            <button ng-click="my_count = my_count + 1;my_array.push('Item ' + my_count)">Add an Item</button>
          </div>
        </div>
        <div class="row" ng-init="my_array = ['Item 1', 'Item 2', 'Item 3']; my_count = 3">
          <div class="small-5 columns left">
            <div class="row" ng-repeat="item in my_array">
              <div class="small-12 columns">{{item}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns"><hr></div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-12 columns"><h3>Custom Directive</h3></div>
        </div>
        <div class="row">
          <div class="small-12 columns left">
            <i>A custom directive, ng-showHide, has been defined in the controller script. It can be included as it's own tag like &lt;ng-showHide&gt; or as an attributes like &lt;div ng-showHide&gt;</i>
          </div>
        </div>
        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="small-3 columns left">Attribute (<b>&lt;div ng-show-hide&gt;</b>):</div>
          <div class="small-9 columns left">
            <div ng-show-hide></div>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns left">Tag (<b>&lt;ng-show-hide&gt;</b>):</div>
          <div class="small-9 columns left">
            <ng-show-hide />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns"><hr></div>
    </div>
  </div>
</div>
