<!-- Reference controller for this page --->
<%= javascript_include_tag asset_path('angular/controllers/pages/directives.controller.js') %>

<!-- Reference any directives to be employed -->
<%= javascript_include_tag asset_path('angular/directives/sweet-show-hide.directive.js') %>
<%= javascript_include_tag asset_path('angular/directives/sweet-current-time.directive.js') %>
<%= javascript_include_tag asset_path('angular/directives/sweet-make-blue.directive.js') %>

<% content_for :title do %>AngularJS Playground - Directives<% end %>

<div ng-app="directivesApp" ng-controller="directivesCtrl as vm" ng-cloak>
  <div class="section-header">
    <div class="section-title">Simple Directives</div>
    <div class="section-description">A series of simple directives that come pre-built with AngularJS</div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="example-header">
          <span class="example-title">ngModel Directive</span><br>
          <span class="example-description">Simple bound input that repeats whatever you type inside it in the div below it.</span>
        </div>
        <div class="example-body">
          <div class="row">
            <div class="small-12 medium-2 columns medium-text-right">Enter Something:</div>
            <div class="small-12 medium-10 columns"><input ng-model="vm.boundinput" type="text" style="width: 200px;"></div>
          </div>
          <div class="row">
            <div class="small-12 medium-2 columns medium-text-right">You Entered:</div>
            <div id="boundinput_clone" class="small-12 medium-10 columns">&nbsp;{{ vm.boundinput }}&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="example-header">
          <span class="example-title">ngShow Directive</span><br>
          <span class="example-description">Slightly more complex bound input that will evaluate whatever mathmatical expression is passed in. If it sums to 10 then a message will appear!</span>
        </div>
        <div class="example-body">
          <div class="row">
            <div class="small-12 medium-3 columns medium-text-right">Enter Mathmatical Expression:</div>
            <div class="small-12 medium-9 columns">
              <input ng-model="vm.mathexpression" ng-change="vm.do_eval = true;" type="text" style="width: 200px;"><br>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-9 columns right">
              &nbsp;<span id="mathexpression_eql10" ng-show="vm.evalExpression()">I appear when the expression is equal to 10!</span>&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="example-header">
          <span class="example-title">ngClick Directive</span><br>
          <span class="example-description">Buttons that add and subtract one to or from the counter each time you click them. Simple as pie!</span>
        </div>
        <div class="example-body">
          <div class="row">
            <div class="small-12 columns left">
              <div class="row" ng-init="count = 0">
                <div class="small-4 medium-1 columns text-center valign-middle">
                  <br>
                  <span class="underline">Count</span><br>
                  <span id="count">{{ vm.count }}</span>
                </div>
                <div class="small-4 medium-2 columns end">
                  <button id="plus_1" class="button tiny radius" ng-click="vm.count = vm.count + 1">+1</button><br>
                  <button id="minus_1" class="button tiny radius" ng-click="vm.count = vm.count - 1">-1</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="example-header">
          <span class="example-title">ngRepeat Directive</span><br>
          <span class="example-description">
            Defines the following array: ['1', '2', '3'], and then repeats &lt;p&gt; tags displaying the contents.
            Click the button below to add an item to the array.
          </span>
        </div>
        <div class="example-body">
          <div class="row">
            <div class="small-12 columns left">
              <button id="add_item_to_list" class="button tiny radius" ng-click="vm.my_count = vm.my_count + 1;vm.my_array.push(vm.my_count)">Add an Item</button>
            </div>
          </div>
          <div class="row">
            <div id="number_list" class="small-12 medium-6 columns left">
              <span ng-repeat="item in vm.my_array">{{item}}<span ng-if="!$last">, </span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="section-header">
    <div class="section-title">Custom Directives</div>
    <div class="section-description">Custom directives that have been defined for this playground specifically</div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="example-header">
          <span class="example-title">sweetShowHide</span><br>
          <span class="example-description">
            A custom directive, sweetShowHide, has been defined in the controller script. It can be included as it's own tag like &lt;ng-showHide&gt; or as an attributes like &lt;div ng-showHide&gt;.
            A 'scope: {}' param has been added as well to make all scope variables local per the instance.
          </span>
        </div>
        <div class="example-body">
          <div class="row">
            <div class="small-12 medium-3 columns left">Attribute (<b>&lt;div sweet-show-hide&gt;</b>):</div>
            <div class="small-12 medium-9 columns left">
              <div sweet-show-hide></div>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-3 columns left">Tag (<b>&lt;sweet-show-hide&gt;</b>):</div>
            <div class="small-12 medium-9 columns left">
              <sweet-show-hide />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="example-header">
          <span class="example-title">sweetCurrentTime</span><br>
          <span class="example-description">
            Another custom directive, sweetCurrentTime, has been defined that simply shows the current time and keeps it updated.
          </span>
        </div>
        <div class="example-body">
          <div class="row">
            <div class="small-12 columns left">
              <b>CurrentTime</b>: &nbsp; <span id="current_time"><sweet-current-time /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="example-header">
          <span class="example-title">sweetMakeBlue</span><br>
          <span class="example-description">
           A transclusion directive example, makes whatever text is wrapped in the tag blue
          </span>
        </div>
        <div class="example-body">
          <div class="row">
            <div class="small-12 columns left">
              <sweet-make-blue id="make-blue">This is not red..</sweet-make-blue>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
