<!-- Reference controller for this page --->
<%= javascript_include_tag asset_path('angular/controllers/pages/filters.controller.js') %>

<!-- Reference any filters to be employed -->
<%= javascript_include_tag asset_path('angular/filters/strip-dashes.filter.js') %>
<%= javascript_include_tag asset_path('angular/filters/title-case.filter.js') %>

<!-- Add Custom Exception Handler Decorator --->
<%= javascript_include_tag asset_path('angular/decorators/exception-handler.decorator.js') %>

<% content_for :title do %>AngularJS Playground - Filters<% end %>

<div ng-app="filtersApp" ng-controller="FiltersController as vm" ng-cloak>
  <div class="section-header">
    <div class="section-title">Simple Filters</div>
    <div class="section-description">A series of simple filters that come pre-built with AngularJS</div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="row">
          <div class="small-6 medium-3 columns text-right">Uppercase: </div>
          <div class="small-6 medium-3 columns end">{{ "Bacon Good" | uppercase }}</div>
        </div>
        <div class="row">
          <div class="small-6 medium-3 columns text-right">Number (2 precision): </div>
          <div class="small-6 medium-3 columns end">{{ 1.23456 | number: 2 }}</div>
        </div>
        <div class="row">
          <div class="small-6 medium-3 columns text-right">Currency: </div>
          <div class="small-6 medium-3 columns end">{{ 5.56 | currency }}</div>
        </div>
        <div class="row">
          <div class="small-6 medium-3 columns text-right">Date (short): </div>
          <div class="small-6 medium-3 columns end">{{ vm.currentDate | date:'short' }}</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="small-6 medium-3 columns text-right">limitTo (3 entries): </div>
          <div class="small-6 medium-3 columns end">
            <span ng-repeat="datum in vm.sampleData | limitTo:3">{{ datum | number:2 }}<br ng-hide="$last"></span>
          </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="small-6 medium-3 columns text-right">Search Filter: </div>
          <div class="small-6 medium-6 columns end">
            <input ng-model="vm.searchText"><br>
            <span ng-repeat="datum in vm.sampleData | filter:vm.searchText">{{ datum }}<br ng-hide="$last"></span>
          </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="small-6 medium-3 columns text-right">Order by (toString): </div>
          <div class="small-6 medium-6 columns end">
            <span ng-repeat="datum in vm.sampleData | orderBy: 'toString()'">{{ datum }}<br ng-hide="$last"></span>
          </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="small-6 medium-3 columns text-right">json: </div>
          <div class="small-6 medium-6 columns end">
            {{ vm.jsonObject | json }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="section-header">
    <div class="section-title">Custom Filters</div>
    <div class="section-description">Custom filters that strip dashes or convert to title case from the string provided</div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="row">
          <div class="small-4 medium-2 columns text-right">stripDashes:</div>
          <div class="small-8 medium-3 columns end">{{ "Bacon--tastes--------very-good!" | stripDashes }}<br><small><i>"Bacon--tastes--------very-good!"</i></small></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="small-4 medium-2 columns text-right">titleCase:</div>
          <div class="small-8 medium-3 columns end">{{ "BaCoN tastes VERY gOOd" | titleCase }}<br><small><i>"BaCoN tastes VERY gOOd"</i></small></div>
        </div>
      </div>
    </div>
  </div>
</div>
