<script>
  var myApp = angular.module("myApp", []);

  myApp.controller('MyFiltersDataCtrl', function ($scope) {
    var myData = {
        currentDate: new Date(2010, 2, 23),
        sampleData:
                [123.65,89.325,23.453,45.66,67.80,23.454]
    };

    $scope.data = myData;
  });

  myApp.filter('stripDashes', function () {
      return function(txt) {
          return txt.split('-').join(' ');
      };
  });

  myApp.filter('titleCase', function () {
      return function(str) {
          return str.replace(/\w\S*/g, function(txt) {
              return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase()
          });
      };
  })
</script>

<div class="row left" ng-app="myApp" ng-controller="MyFiltersDataCtrl">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-12 columns"><h3>Simple Filters</h3></div>
        </div>
        <div class="row">
          <div class="small-12 columns left">
            A series of simple filters that come pre-built with AngularJS
          </div>
        </div>
        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="small-3 columns text-right">Uppercase: </div>
          <div class="small-3 columns left">{{ "Derek Sweet" | uppercase }}</div>
        </div>
        <div class="row">
          <div class="small-3 columns text-right">Number (2 precision): </div>
          <div class="small-3 columns left">{{ 1.23456 | number: 2 }}</div>
        </div>
        <div class="row">
          <div class="small-3 columns text-right">Currency: </div>
          <div class="small-3 columns left">{{ 5.56 | currency }}</div>
        </div>
        <div class="row">
          <div class="small-3 columns text-right">Date (medium): </div>
          <div class="small-3 columns left">{{ data.currentDate | date:'medium' }}</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="small-3 columns text-right">limitTo (3 entries): </div>
          <div class="small-3 columns left">
            <span ng-repeat="datum in data.sampleData | limitTo:3">{{ datum | number:2 }}<br ng-hide="$last"></span>
          </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="small-3 columns text-right">Filter: </div>
          <div class="small-6 columns left">
            <input ng-model="searchText"><br>
            <span ng-repeat="datum in data.sampleData | filter:searchText">{{ datum }}<br ng-hide="$last"></span>
          </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="small-3 columns text-right">Order by (toString): </div>
          <div class="small-6 columns left">
            <span ng-repeat="datum in data.sampleData | orderBy: 'toString()'">{{ datum }}<br ng-hide="$last"></span>
          </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="small-3 columns text-right">json: </div>
          <div class="small-6 columns left">
            {{ data | json }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns"><hr></div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <div class="small-12 columns"><h3>Custom Filters</h3></div>
        </div>
        <div class="row">
          <div class="small-12 columns left">
            Custom filters that strip dashes or convert to title case from the string provided
          </div>
        </div>
        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="small-3 columns text-right">stripDashes: </div>
          <div class="small-3 columns left">{{ "Derek--Sweet------------is-cool!" | stripDashes }}</div>
        </div>
        <div class="row">
          <div class="small-3 columns text-right">titleCase: </div>
          <div class="small-3 columns left">{{ "DeReK sweet IS cOOl" | titleCase }}</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns"><hr></div>
    </div>
  </div>
</div>
