<% content_for :title do %>AngularJS Playground - Forms<% end %>

<div class="row left" ng-app="formsApp" ng-controller="MyFormsCtrl">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns"><h3>Sample Form</h3></div>
    </div>
    <div class="row">
      <div class="small-12 columns left">
        A sample of what can be done with Angular Forms
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <div class="small-12 columns">
        <form name="sampleForm">
          <div class="row">
            <div class="small-12 columns">
              <i>The following is an input for first name, does not have much validation on it.</i>
            </div>
          </div>
          <div class="row">
            <div class="small-2 columns">First Name:</div>
            <div class="small-5 columns left"><input type="text" ng-model="data.firstName" placeholder="First Name" required></div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="small-12 columns">
              <i>Here is an input for email, contains some validation on it.</i>
            </div>
          </div>
          <div class="row">
            <div class="small-2 columns">Email:</div>
            <div class="small-5 columns left"><input type="email" ng-model="data.email" placeholder="Email" required></div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="small-12 columns">
              <i>Here is a select dropdown, values populated from within the controller</i>
            </div>
          </div>
          <div class="row">
            <div class="small-2 columns">Colors:</div>
            <div class="small-5 columns left">
              <select name="colors" ng-model="data.colors" ng-options="obj.value as obj.label for obj in colors" required>
                <option value="">Choose a color...</option>
              </select>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="small-12 columns">
              <i>Here is a checkbox, default value comes from the controller.</i>
            </div>
          </div>
          <div class="row">
            <div class="small-2 columns">&nbsp;</div>
            <div class="small-5 columns left">
              <input type="checkbox" ng-model="data.is_cool" name="is_cool" id="is_cool" value="is_cool">
              <label for="is_cool">Check here if you are cool..</label>
            </div>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="small-12 columns">
              <input type="submit" value="Submit" ng-click="submit_form()">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
