<!-- Reference controller for this page --->
<%= javascript_include_tag asset_path('angular/controllers/pages/forms.controller.js') %>

<!-- Reference services for this page --->
<%= javascript_include_tag asset_path('angular/services/data-share.service.js') %>
<%= javascript_include_tag asset_path('angular/services/data-store.service.js') %>

<% content_for :title do %>AngularJS Playground - Forms<% end %>

<div ng-app="formsApp" ng-cloak>
  <div class="section-header">
    <div class="section-title">Simple Forms</div>
    <div class="section-description">
      A sample of what can be done with Angular Forms. There is some validation on each of the fields and a conditional
      span that shows if a submit is attempted and they are invalid. If all fields are valid then the data inputted will
      be stored in the database. You can type something into the First Name field and load previously saved data under
      that first name as well. Also demonstrates the use of a sharedService to communicate events between controllers. A
      dataStore is shared between the controllers as well.
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="row" ng-controller="SimpleFormsController as simpleVm">
          <div class="small-12 columns">
            <div class="row">
              <div class="small-12 columns"><h3>Forms</h3></div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                A sample of what can be done with Angular Forms. There is some validation on each of the fields and a conditional span that shows if a submit is attempted and they are invalid.
                If all fields are valid then the data inputted will be stored in the database. You can type something into the First Name field and load previously saved data under that first name as well.
                Also demonstrates the use of a sharedService to communicate events between controllers. A dataStore is shared between the controllers as well.
              </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
              <div class="small-12 columns">
                <div ng-show="simpleVm.sampleForm.$pristine"><b>Form input has not yet started</b></div>
                <div ng-show="simpleVm.sampleForm.$dirty" class="submit_success"><b>Form input has started</b></div>
              </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
              <div class="small-12 columns">
                <form name="simpleVm.sampleForm" ng-submit="simpleVm.submitForm()" novalidate>
                  <div class="row">
                    <div class="small-12 columns">
                      <i>The following is an input for first name, does not have much validation on it.</i>
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="small-3 medium-1 columns inline medium-right-margin">First Name:</div>
                    <div class="small-7 medium-5 columns">
                      <input class="no-bottom" type="text" ng-model="simpleVm.user.first_name" name="first_name" placeholder="First Name" required>
                      <span class="error" ng-show="simpleVm.firstNameInvalid">Please enter a value for First Name</span>
                    </div>
                    <div class="small-12 medium-5 columns left medium-left-margin">
                      <input type="button" value="Load by First Name" ng-click="simpleVm.getUser()">
                    </div>
                  </div>
                  <div class="row">&nbsp;</div>
                  <div class="row">
                    <div class="small-12 columns">
                      <i>An input for email, contains some validation on it.</i>
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="small-3 medium-1 columns inline medium-right-margin">Email:</div>
                    <div class="small-7 medium-5 columns left">
                      <input class="no-bottom" type="email" ng-model="simpleVm.user.email" name="email" placeholder="Email" required>
                      <span class="error" ng-show="simpleVm.emailInvalid">Please enter a proper email address</span>
                    </div>
                  </div>
                  <div class="row">&nbsp;</div>
                  <div class="row">
                    <div class="small-12 columns">
                      <i>Here is a select dropdown, values populated from within the controller</i>
                    </div>
                  </div>
                  <div class="row collapse">
                    <div class="small-3 medium-1 columns inline medium-right-margin">Color:</div>
                    <div class="small-7 medium-5 columns left">
                      <select class="no-bottom" id="color" name="color" ng-model="simpleVm.user.color" ng-options="obj.value as obj.label for obj in simpleVm.colors" required>
                        <option value="">Choose a color...</option>
                      </select>
                      <span class="error" ng-show="simpleVm.colorInvalid">Please select a color</span>
                    </div>
                  </div>
                  <div class="row">&nbsp;</div>
                  <div class="row">
                    <div class="small-12 columns">
                      <i>Here is a checkbox, default value comes from the controller.</i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="small-3 medium-1 columns inline medium-right-margin">&nbsp;</div>
                    <div class="small-6 medium-5 columns left">
                      <input type="checkbox" ng-model="simpleVm.user.is_cool" name="is_cool" id="is_cool" value="is_cool" style="display:inline">
                      <label for="is_cool">Check here if cool..</label>
                    </div>
                  </div>
                  <div class="row">&nbsp;</div>
                  <div class="row">
                    <div class="small-12 columns">
                      <input class="button tiny radius" type="submit" value="Submit"><br><br>
                      <div class="load_success" ng-show="simpleVm.showLoadSuccessMessage">Data Load completed succesfully!</div>
                      <div class="load_error" ng-show="simpleVm.showLoadErrorMessage">There was an error loading the data! <span id="load_error_message"></span></div>
                      <div class="submit_success" ng-show="simpleVm.showSubmitSuccessMessage">Form submitted succesfully!</div>
                      <div class="submit_error" ng-show="simpleVm.showSubmitErrorMessage">There was an error submitting the form! <span id="submit_error_message"></span></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="section-header">
    <div class="section-title">Modal Forms</div>
    <div class="section-description">
      Combining the $http directive with reveal modal divs from Foundation5, we can make some pretty slick forms. Use
      the interface below to modify any of the user from the section above.
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="row"  ng-controller="ModalFormsController as modalVm">
          <div class="small-12 columns">
            <b>Number of Users: </b><span id="num_users">{{ modalVm.users.length }}</span><br>
            <br>
            <table ng-init="modalVm.getAllUsers()">
              <thead>
              <tr>
                <th>First Name</th>
                <th>Email</th>
                <th>Color</th>
                <th>Is Cool?</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="user in modalVm.users">
                <td><a ng-click="modalVm.editUser(user.first_name)">{{ user.first_name }}</a></td>
                <td class="small-width-limit-75">{{ user.email }}</td>
                <td>{{ user.color }}</td>
                <td>{{ user.is_cool }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div id="modal__form" class="reveal-modal form-modal small" data-reveal>
            <div ng-include="modalVm.form_template"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
