<div class="row left">
  <div class="small-12 columns"><h3>Bound Input</h3></div>
</div>

<div class="row left">
  <div class="small-2 columns left">Enter Something: </div>
  <div class="small-2 columns left"><input ng-model="boundinput" type="text"></div>
</div>
<div class="row left">
  <div class="small-2 columns left">You Entered: </div>
  <div class="small-2 columns left">{{ boundinput }}</div>
</div>
<div class="row">&nbsp;</div>
<hr>