<h3>References</h3>
The following resources have been used in development of this playground:<br>
<br>
<br>
"<b>Beginning AngularJS</b>" by Andrew Grant - <a target="_blank" href="http://www.amazon.ca/Beginning-AngularJS-Andrew-Grant-ebook/dp/B00M4FC72S/ref=tmm_kin_swatch_0?_encoding=UTF8&sr=8-1&qid=1425747905">Available on Amazon</a><br>
"<b>dirPagination</b>" by Michael Bromley - Part of the angularUtils package (<a href="https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination" target="_blank">link</a>).<br>
"<b>Countries</b>" by Hexorx - Used to obtain countries data (<a href="https://github.com/hexorx/countries" target="_blank">link</a>)