<% content_for :title do %>AngularJS Playground - References<% end %>

<div>
  <div class="section-header">
    <div class="section-title">References</div>
    <div class="section-description">
      The following resources have been used in development of this playground:
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="example-header">
          <span class="example-title">Books</span>
        </div>
        <div class="example-body">
          "<b>Beginning AngularJS</b>" by Andrew Grant - <a target="_blank" href="http://www.amazon.ca/Beginning-AngularJS-Andrew-Grant-ebook/dp/B00M4FC72S/ref=tmm_kin_swatch_0?_encoding=UTF8&sr=8-1&qid=1425747905">Available on Amazon</a><br>
          "<b>Pro AngularJS</b>" by Adam Freeman - <a target="_blank" href="http://www.amazon.com/Pro-AngularJS-Experts-Voice-Development/dp/1430264489/ref=sr_1_1?ie=UTF8&qid=1425829692&sr=8-1&keywords=angularjs">Available on Amazon</a><br>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="example-header">
          <span class="example-title">Angular Extensions/Directives</span>
        </div>
        <div class="example-body">
          "<b>dirPagination</b>" by Michael Bromley - Part of the angularUtils package - <a href="https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination" target="_blank">GitHub link</a><br>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="example">
        <div class="example-header">
          <span class="example-title">Gems</span>
        </div>
        <div class="example-body">
          "<b>Countries</b>" by Hexorx - Used to obtain countries data - <a href="https://github.com/hexorx/countries" target="_blank">GitHub link</a>
        </div>
      </div>
    </div>
  </div>
</div>
