<h3>References</h3>
The following resources have been used in development of this playground:<br>
<br>
<h5 class="underline">Books</h5>
"<b>Beginning AngularJS</b>" by Andrew Grant - <a target="_blank" href="http://www.amazon.ca/Beginning-AngularJS-Andrew-Grant-ebook/dp/B00M4FC72S/ref=tmm_kin_swatch_0?_encoding=UTF8&sr=8-1&qid=1425747905">Available on Amazon</a><br>
"<b>Pro AngularJS</b>" by Adam Freeman - <a target="_blank" href="http://www.amazon.com/Pro-AngularJS-Experts-Voice-Development/dp/1430264489/ref=sr_1_1?ie=UTF8&qid=1425829692&sr=8-1&keywords=angularjs">Available on Amazon</a><br>
<br>
<h5 class="underline">Angular Extensions/Directives</h5>
"<b>dirPagination</b>" by Michael Bromley - Part of the angularUtils package - <a href="https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination" target="_blank">GitHub link</a><br>
<br>
<h5 class="underline">Gems</h5>
"<b>Countries</b>" by Hexorx - Used to obtain countries data - <a href="https://github.com/hexorx/countries" target="_blank">GitHub link</a>