<% content_for :title do %>AngularJS Playground - Forms<% end %>

<div class="row left" ng-app="formsApp" ng-controller="MyFormsCtrl">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns"><h3>Routes</h3></div>
    </div>
    <div class="row">
      <div class="small-12 columns left">
        Description
      </div>
    </div>
  </div>
</div>