<!-- Reference controller for this page --->
<%= javascript_include_tag asset_path('angular/controllers/pages/routes.js') %>

<% content_for :title do %>AngularJS Playground - Forms<% end %>

<div ng-app="routesApp" ng-cloak>
  <div class="section-header">
    <div class="section-title">Routes</div>
    <div class="section-description">
      Angular Routes allow us to do things like create Single Page Applications. Below is
      a view that can have its contents loaded from a template by clicking the links below. Note that the URL in your
      browser address bar is changing
    </div>
  </div>
  <div class="row" ng-controller="rootController as rootCtrl">
    <div class="small-12 columns">
      <div class="example">
        <div class="row">
          <div class="small-12 columns">
            <dl class="sub-nav">
              <dt>Page:</dt>
              <dd><a ng-class="rootCtrl.isActive('home')" ng-click="rootCtrl.active = 'home'" href="/routes#/">Home</a></dd>
              <dd><a ng-class="rootCtrl.isActive('about')" ng-click="rootCtrl.active = 'about'" href="/routes#/about">About</a></dd>
              <dd><a ng-class="rootCtrl.isActive('contact')" ng-click="rootCtrl.active = 'contact'" href="/routes#/contact">Contact</a></dd>
              <dd><a ng-class="rootCtrl.isActive('contact_learn')" ng-click="rootCtrl.active = 'contact_learn'" href="/routes#/contact/learn">Contact (Learn)</a></dd>
              <dd><a ng-class="rootCtrl.isActive('contact_complain')" ng-click="rootCtrl.active = 'contact_complain'" href="/routes#/contact/complain">Contact (Complain)</a></dd>
              <dd><a ng-class="rootCtrl.isActive('eager')" ng-click="rootCtrl.active = 'eager'" href="/routes#/eager/var1/var2/var3">Eager</a></dd>
              <dd><a ng-class="rootCtrl.isActive('undefined')" ng-click="rootCtrl.active = 'undefined'" href="/routes#/i_blow_goats">Undefined Route</a></dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div ng-view></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
