<!-- Reference controller for this page --->
<%= javascript_include_tag asset_path('angular/controllers/pages/routes.controller.js') %>

<% content_for :title do %>AngularJS Playground - ngRoute<% end %>

<div ng-app="routesApp" ng-cloak>
  <div class="section-header">
    <div class="section-title">ngRoute</div>
    <div class="section-description">
      Angular Routes allow us to do things like create Single Page Applications. Below is
      a view that can have its contents loaded from a template by clicking the links below. Note that the URL in your
      browser address bar is changing<br>
      <a href="/uirouter" data-method="get">Click here for a ui-router demonstration</a>
    </div>
  </div>
  <div class="row" ng-controller="routesCtrl as vm">
    <div class="small-12 columns">
      <div class="example">
        <div class="row">
          <div class="small-12 columns">
            <dl class="sub-nav">
              <dd class="sub-nav-link"><a id="home_link" ng-class="vm.isActive('home')" ng-click="vm.active = 'home'" href="/routes#/">Home</a></dd>
              <dd class="sub-nav-link"><a id="about_link" ng-class="vm.isActive('about')" ng-click="vm.active = 'about'" href="/routes#/about">About</a></dd>
              <dd class="small-clear-both sub-nav-link"><a id="contact_link" ng-class="vm.isActive('contact')" ng-click="vm.active = 'contact'" href="/routes#/contact">Contact</a></dd>
              <dd class="sub-nav-link"><a id="contact_learn_link" ng-class="vm.isActive('contact_learn')" ng-click="vm.active = 'contact_learn'" href="/routes#/contact/learn">Contact-Learn</a></dd>
              <dd class="small-clear-both sub-nav-link"><a id="contact_complain_link" ng-class="vm.isActive('contact_complain')" ng-click="vm.active = 'contact_complain'" href="/routes#/contact/complain">Contact-Complain</a></dd>
              <dd class="sub-nav-link"><a id="eager_link" ng-class="vm.isActive('eager')" ng-click="vm.active = 'eager'" href="/routes#/eager/var1/var2/var3">Eager</a></dd>
              <dd class="last small-clear-both sub-nav-link"><a id="undefined_link" ng-class="vm.isActive('undefined')" ng-click="vm.active = 'undefined'" href="/routes#/i_blow_goats">Undefined Route</a></dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <div id="routes_ng_view" ng-view></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
