<h1>Multiple</h1>
<br>
<div class="row">
  <div class="small-12 columns">
    This is an example of multiple views with ui-router. You can have more than one &lt;div ui-view&gt; within the
    main template, and you can specify the template to be used for each view on a given state.
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="small-12 columns">
    <a ui-sref="multiple_state1">State 1</a><br>
    <a ui-sref="multiple_state2">State 2</a>
    <div ui-view="viewA"></div>
    <div ui-view="viewB"></div>
  </div>
</div>
