<%# add navigation links to this file %>
<a href="/directives" data-method="get">Directives</a>  |
<a href="/filters" data-method="get">Filters</a>  |
<a href="/forms" data-method="get">Forms</a>  |
<a href="/routes" data-method="get">Routes</a>  |
<a href="/animate" data-method="get">Animate</a>