<%# add navigation links to this file %>
<li class="active nav-link"><a href="/directives" data-method="get">Directives</a></li>
<li class="active nav-link"><a href="/filters" data-method="get">Filters</a></li>
<li class="active nav-link"><a href="/forms" data-method="get">Forms</a></li>
<li class="active nav-link"><a href="/routes" data-method="get">Routes</a></li>
<li class="active nav-link"><a href="/animate" data-method="get">Animate</a></li>
<li class="active nav-link"><a href="/pagination" data-method="get">Pagination</a></li>
