<%# add navigation links to this file %>
<span class="nav-link"><a href="/directives" data-method="get">Directives</a></span>
<span class="nav-link"><a href="/filters" data-method="get">Filters</a></span>
<span class="nav-link"><a href="/forms" data-method="get">Forms</a></span>
<span class="nav-link"><a href="/routes" data-method="get">Routes</a></span>
<span class="nav-link"><a href="/animate" data-method="get">Animate</a></span>
<span class="nav-link"><a href="/pagination" data-method="get">Pagination</a></span>